<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KrizovaCestaSMarii.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01797170231E8BF800BB9454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01797184231E8BFA00BB9454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0179718F231E8BFA00BB9454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
